<mat-button-toggle-group [(ngModel)]="operator" name="operator" (change)="onOperatorChanged($event)">
  <mat-button-toggle value="addition">Addition</mat-button-toggle>
  <mat-button-toggle value="subtraction">Subtraction</mat-button-toggle>
  <mat-button-toggle value="multiplication">Multiplication</mat-button-toggle>
  <mat-button-toggle value="division">Division</mat-button-toggle>
</mat-button-toggle-group>
<!-- <div>
  <label class="inline" for="min">Min: </label>
  <input class="inline" type="number">
</div>
<div>
  <label class="inline" for="max">Max: </label>
  <input class="inline" mat-input type="number">
</div> -->
<div class="row pull-down">
  <mat-card class="col-4 col-md-2">
      <mat-card-title>{{ number1 }} {{ operatorSymbol }} {{ number2 }} =</mat-card-title>
  </mat-card>
  <input class="col-4 col-md-2" type="number" autofocus [(ngModel)]="response" mat-input placeholder="Enter the answer" (keypress)="checkResponse($event)">
</div>
<div *ngIf="isCorrect !== undefined">{{ isCorrect ? 'Correct!' : 'Incorrect. The answer is ' + correctAnswer }}
</div>
