<mat-button-toggle-group [(ngModel)]="operator" name="operator" (change)="onOperatorChanged($event)">
  <mat-button-toggle value="addition">Addition</mat-button-toggle>
  <mat-button-toggle value="subtraction">Subtraction</mat-button-toggle>
  <mat-button-toggle value="multiplication">Multiplication</mat-button-toggle>
  <mat-button-toggle value="division">Division</mat-button-toggle>
</mat-button-toggle-group>
<!-- <div>
  <label class="inline" for="min">Min: </label>
  <input class="inline" type="number">
</div>
<div>
  <label class="inline" for="max">Max: </label>
  <input class="inline" mat-input type="number">
</div> -->
<div class="row pull-down">
  <h1>{{ number1 }} {{ operatorSymbol }} {{ number2 }} =</h1>
  
  <input id="textInput" type="number" autofocus [(ngModel)]="response" mat-input (keypress)="checkResponse($event)">
  
  <div id="info" [ngClass]="{'correct': isCorrect, 'incorrect': !isCorrect}" *ngIf="isCorrect !== undefined">{{ isCorrect ? 'Correct!' : 'The correct answer is ' + correctAnswer }}
  </div>
</div>

