.move-down {
    margin-top: 80px;
}

.question {
    font-size: 120px;
}

.option {
    font-size: 30px;
    margin: 2px;
    width: 32%;
    height: 80px;
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

.wrong {
    color: red;
    font-size: 20px;
}

.right {
    color: green;
    font-size: 20px;
}
