h1 {
    font-size: 5em;
    padding-top: 65px;
    padding-left: 10px;
}

.example-card {
    /* center the card */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    max-width: 400px;
}
  
#textInput {
    width: 100%;
    font-size: 1.5em;

}

.correct {
    display: flex;
    justify-content: center;
    color: green;
    padding-top: 10px;
    font-size: 40px;
}

.incorrect {
    display: flex;
    justify-content: center;
    color: red;
}

#correction {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 40px;
}