h1 {
    font-size: 5em;
    padding-top: 65px;
    padding-left: 10px;
}

.example-card {
    /* center the card */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    max-width: 400px;
}
  
#textInput {
    width: 100%;
    font-size: 1.5em;

}