
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <input 
      id="textInput" 
      type="text"
      autofocus 
      [(ngModel)]="response" 
      mat-input
      (keypress)="checkResponse($event)"
    >
  </mat-card-header>
  <mat-card-actions>
    <button mat-button (click)="speak()">SAY AGAIN</button>
  </mat-card-actions>
</mat-card>
<br><br>
@if (totalAnswerCount > 0) {
    <div class="row">
        <div class="col-12">
            <h1 class="center">Score: {{ score() }}%</h1>
        </div>
    </div>
}
        
@if (isCorrect !== undefined) {
  @if (isCorrect) {
    <div id="info" class="correct">Correct!</div>
  } @else {
    <div id="info" class="incorrect">The correct answer is</div>
    <div id="correction" class="incorrect ">{{ word }}</div>
  }
}
