.move-down {
    margin-top: 25px;
}

.option {
    margin: 2px;
    height: 50px;
    width: 32%; 
}

.inverse {
    margin: 2px;
    height: 150px;
    width: 32%; 
}

.correct {
    background-color: green;
    color: white;
}

.incorrect {
    background-color: red;
    color: white;
}

img {
    border: 2px solid #000;
    width: 100%;
}

img .grid {
    max-height: 190px;
}