<mat-toolbar>
    <button mat-icon-button class="example-icon">
        <mat-icon>menu</mat-icon>
    </button>
    <!-- <span>Ken, the Ken</span> -->
    <span class="spacer"></span>
    <button mat-button routerLink="/music" routerLinkActive="active-link"><mat-icon>music_video</mat-icon>Music</button>
    <div routerLinkActive="active-link">
        <button mat-button [matMenuTriggerFor]="games"><mat-icon>games</mat-icon>Games</button>
        <mat-menu #games>
            <button mat-menu-item class="dropdown-item" routerLink="/games/poker">Poker</button>
            <button mat-menu-item class="dropdown-item" routerLink="/games/poker-solitaire">Poker Solitare</button>
        </mat-menu>
    </div>
    <div routerLinkActive="active-link">
        <button mat-button [matMenuTriggerFor]="practice"><mat-icon>pageview</mat-icon>Practice</button>
        <mat-menu #practice>
            <!-- <button mat-menu-item class="dropdown-item" routerLink="/practice/kanji">Kanji</button> -->
            <button mat-menu-item class="dropdown-item" routerLink="/practice/jouyou-kanji">Jōyō Kanji</button>
        </mat-menu>
    </div>
    <div routerLinkActive="active-link">
        <button mat-button [matMenuTriggerFor]="quiz"><mat-icon>quiz</mat-icon>Quiz</button>
        <mat-menu #quiz>
            <button mat-menu-item class="dropdown-item" routerLink="/quiz/capitals">Capitals</button>
            <button mat-menu-item class="dropdown-item" routerLink="/quiz/arithmetic">Arithmetic</button>
            <button mat-menu-item class="dropdown-item" routerLink="/quiz/spelling-bee">Spelling Bee</button>
            <button mat-menu-item class="dropdown-item" routerLink="/quiz/flags">Flags</button>
            <button mat-menu-item class="dropdown-item" routerLink="/quiz/hiragana">Hiragana</button>
            <button mat-menu-item class="dropdown-item" routerLink="/quiz/katakana">Katakana</button>
            <button mat-menu-item class="dropdown-item" routerLink="/quiz/kanji">Kanji</button>
            <button mat-menu-item class="dropdown-item" routerLink="/quiz/devanagari">Devanagari</button>
        </mat-menu>
    </div>
    <!-- <button mat-button routerLink="/about" routerLinkActive="active-link"><mat-icon>contact_page</mat-icon>About</button> -->
</mat-toolbar>  
<router-outlet></router-outlet>
<div class="footer navbar-fixed-bottom">
    <hr />
    © {{currentYear}} Kenneth Cordero.<br/>
</div>