<mat-toolbar>
    <button mat-icon-button class="example-icon">
        <mat-icon>menu</mat-icon>
    </button>
    <!-- <span>Ken, the Ken</span> -->
    <span class="spacer"></span>
    <button mat-button routerLink="/music" routerLinkActive="active-link"><mat-icon>music_video</mat-icon>Music</button>
                <div routerLinkActive="active-link">
                    <button mat-button [matMenuTriggerFor]="menu"><mat-icon>games</mat-icon>Stuff</button>
                    <mat-menu #menu>
                        <button mat-menu-item class="dropdown-item" routerLink="/stuff/capitals">Capitals</button>
                        <button mat-menu-item class="dropdown-item" routerLink="/stuff/arithmetic">Math</button>
                        <button mat-menu-item class="dropdown-item" routerLink="/stuff/spelling-bee">Spelling Bee</button>
                    </mat-menu>
                </div>
                <button mat-button routerLink="/about" routerLinkActive="active-link"><mat-icon>info</mat-icon>About</button>
</mat-toolbar>  
<router-outlet></router-outlet>
<div class="footer navbar-fixed-bottom">
    <hr />
    © {{currentYear}} Kenneth Cordero.<br/>
</div>