<div class="center">
	<h1>Classical guitar</h1>
    <h5>Performed by Kenneth Cordero</h5>
</div>
<div id="repertory" class="col-md-3">
	<ul>
        <li id="menu-bach996-2"><button mat-button (click)="activeVideo='bach996-2'">J.S. Bach - Allemande from BWV 996</button>
        <li id="menu-bach999"><button mat-button (click)="activeVideo='bach999'">J.S. Bach - Prelude, BWV 999</button>
        <li id="menu-narvaez"><button mat-button (click)="activeVideo='narvaez'">Narvaez - Guardame las vacas</button>
    </ul>        
</div>
<div id="videos" class="col-md-9">
	<iframe *ngIf="activeVideo === 'bach996-2'" class="video" src="https://www.youtube.com/embed/UUbqdJDEoM4" allowfullscreen></iframe>
    <iframe *ngIf="activeVideo === 'bach999'" class="video" src="https://www.youtube.com/embed/BDo5dEkTTUw" allowfullscreen></iframe>
    <iframe *ngIf="activeVideo === 'narvaez'" class="video" src="https://www.youtube.com/embed/qy1ccbpFoTI" allowfullscreen></iframe>
</div>