
<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ word }}</mat-card-title>
      @if (dictionaryEntry) {
      <mat-card-subtitle>{{ dictionaryEntry[0]?.meanings[0]?.partOfSpeech }}</mat-card-subtitle>
      }
    </mat-card-header>

    <mat-card-content>
      <p>
        {{ definitions | json }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button (click)="onClickNext()">NEXT WORD</button> -->
      <button mat-button (click)="speak()">SPEAK</button>
    </mat-card-actions>
  </mat-card>
  